<p id="notice"><%= notice %></p>

<p>
  <b>Original Image:</b>
  <%= image_tag("/upload/#{@image.id}") %>
</p>
<%= link_to 'Update resize width and height', :action => 'resize_form' %>
<p><%= link_to 'Back', images_path %></p>


